body {
  margin: 0;
  background:
    radial-gradient(
      circle at top left,
      rgba(124,58,237,.25),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(59,130,246,.15),
      transparent 40%
    ),
    #020617;

  color: white;
  font-family: Inter, sans-serif;
}