* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #020617;
  color: white;
  font-family:
    Inter,
    system-ui,
    sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 10px;
}